.body-section-6 {
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;

    .content-section-6 {
        display        : flex;
        justify-content: center;
        align-items    : center;
        width          : 100%;
        height         : 100%;

        .group-tag {
            width          : 100%;
            height         : 100%;
            display        : flex;
            justify-content: space-around;
            align-items    : center;
            flex-wrap      : wrap;
            padding        : 10px 60px;

            .title-tag {
                width          : 40%;
                height         : 27%;
                display        : flex;
                flex-direction : column;
                padding        : 12px 28px;
                justify-content: center;
                align-items    : center;

                .benefit {
                    font-size     : 34px;
                    line-height   : 42px;
                    padding-bottom: 16px;
                }

                .content-benefit {
                    font-size  : 16px;
                    line-height: 25px;
                }
            }
        }

        .silder {
            display: none;
        }
    }
}


@media screen and (max-width:75em) {
    .body-section-6 {
        .content-section-6 {
            .group-tag {
                padding: 10px 0px;

                .title-tag {
                    padding: 0;

                    .benefit {
                        font-size     : 28px;
                        line-height   : 38px;
                        padding-bottom: 5px;
                    }

                    .content-benefit {
                        font-size  : 15px;
                        line-height: 22px;
                    }
                }

                .container-tag {
                    .title {
                        font-size: 20px;
                        margin   : 0;
                    }

                    .icon-secton-6 {
                        width : 30px;
                        height: 60px;
                    }

                    .content-tag {
                        font-size  : 14px;
                        line-height: 20px;
                    }
                }

            }
        }
    }
}

@media screen and (min-width:35.5em) and (max-width:47.9375em) {
    .body-section-6 {
        .content-section-6 {
            .group-tag {

                padding: 10px 20px;

                .title-tag {
                    width  : 45% !important;
                    padding: 0 20px;

                    .benefit {
                        font-size     : 18px;
                        line-height   : 24px;
                        padding-bottom: 5px;
                    }

                    .content-benefit {
                        font-size  : 14px;
                        line-height: 20px;

                    }
                }

                .container-tag {
                    width  : 45% !important;
                    height : 23%;
                    padding: 5px 18px;

                    .icon-secton-6 {
                        width : 30px;
                        height: 30px;
                    }

                    .title {
                        font-size: 18px;
                        margin   : 5px 0;
                    }

                    .content-tag {
                        font-size  : 14px;
                        line-height: 20px;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 35.5em) {
    .body-section-6 {
        background-color: #f2faff;

        .content-section-6 {
            height            : 100%;
            display           : flex;
            flex-direction    : column;
            align-items       : center;
            // justify-content: space-between;
            padding-top       : 10px;

            .group-tag {
                width      : 100%;
                height     : 40%;
                align-items: center;
                padding    : 30px 40px 30px;

                .title-tag {
                    width  : 89%;
                    padding: 0;

                    .benefit {
                        font-size     : 23px;
                        line-height   : 28px;
                        padding-bottom: 5px;
                    }

                    .content-benefit {
                        font-size     : 15px;
                        line-height   : 20px;
                        padding-bottom: 10px;
                    }
                }

                .container-tag {
                    display: none;

                }

            }

            .silder {
                display        : flex;
                justify-content: center;
                align-items    : center;
                width          : 100%;
                height         : 54%;
                margin         : 0 auto;
            }
        }


    }
}