.btn-text {
    border-radius: 7px;

    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
    border: 1px solid #d7d7d7;
 
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}