.body-footer {
    margin-top      : 50px;
    background-color: #121933;
    clip-path       : ellipse(100% 60% at 50% 60%);
    width           : 100%;
    position        : relative;
    height          : 411px;
    display         : flex;
    flex-direction  : column;
    justify-content : space-around;
    align-items     : center;

    .content-footer-top {
        display        : flex;
        justify-content: space-around;
        align-items    : flex-start;
        flex-wrap      : wrap;
        width          : 100%;
        height         : 85%;
        padding        : 70px 50px 0 90px;


        .content-left {
            display              : flex;
            flex-direction       : column;
            justify-content      : center;
            align-items          : flex-start;
            width                : 27%;
            // height         : 100%;
            // order             : 2;

            .image-contain {

                margin-bottom: 25px;
            }

            .slogan {
                display  : none;
                font-size: 16px;
            }

            .text {
                color : white;
                margin: 2px 0;

                &.contact {
                    cursor: pointer;

                    &:hover {
                        color: #40a9ff;
                    }
                }
            }
        }

        .text {
            color: white;
        }

        .container-center {

            display        : flex;
            justify-content: space-between;
            align-items    : flex-start;
            width          : 35%;

            .slogan {
                display: none;

            }

            .content-center {
                display        : flex;
                flex-direction : column;
                justify-content: center;
                align-items    : flex-start;
                width          : 50%;

                // height         : 100%;
                .text {
                    margin : 5px 0;
                    cursor : pointer;
                    opacity: 0.8;

                    &:hover {
                        opacity: 1;
                    }

                    &.about {
                        font-size    : 20px;
                        font-weight  : 700;
                        margin-bottom: 25px;
                        opacity      : 1;
                    }
                }
            }
        }


        .content-right {
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : flex-start;
            width          : 22%;

            // height         : 100%;
            a {
                transition: all 3s cubic-bezier(.645, .045, .355, 1);

                .btn-text {
                    transition: all 3s cubic-bezier(.645, .045, .355, 1);
                }
            }


            .text {
                color : white;
                margin: 5px 0;

                &.about {
                    font-size    : 20px;
                    font-weight  : 700;
                    margin-bottom: 25px;
                    opacity      : 1;
                }
            }
        }
    }

    .content-footer-bottom {
        display        : flex;
        justify-content: space-around;
        align-items    : flex-start;
        flex-direction : column;
        width          : 90%;
        height         : 15%;
        padding        : 10px 60px;

        .container-license {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            width          : 100%;

            .content-left-license {

                height         : 34px;
                color          : white;
                display        : flex;
                width          : 40%;
                justify-content: flex-start;
                align-items    : center;
            }

            .content-right-license {

                display        : flex;
                align-items    : center;
                color          : white;
                height         : 34px;
                width          : 40%;
                justify-content: flex-end;
                gap            : 10px;

                .policy {
                    cursor : pointer;
                    opacity: 0.8;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .container-circle-top {
        position: absolute;
        width   : 24%;
        top     : -35%;
        left    : -39px;

    }

    .container-img-list-dot {
        position: absolute;
        bottom  : 14%;
        left    : 11%;
    }

    .container-wave-img {
        position: absolute;
        right   : 8%;
        bottom  : 26%;
    }

    .container-circle-image-footer {
        top     : 15%;
        position: absolute;
        right   : 10%;
    }
}

@media screen and (max-width: 75em) {
    .body-footer {
        clip-path: none;

        .content-footer-top {
            justify-content: space-between;
            padding        : 60px 50px 0 50px;

            .content-left {
                .image-contain {

                    margin-bottom: 15px;
                }

                .text {}
            }

            .container-center {
                width: 40%;

                .content-center {
                    .text {
                        &.about {
                            font-size: 16px;
                        }

                    }
                }
            }


            .text {
                font-size: 13px;
            }

            .content-right {
                .text {
                    &.about {
                        font-size: 16px;
                    }
                }
            }
        }

        .content-footer-bottom {
            width          : 100%;
            padding        : 0;
            display        : flex;
            justify-content: center;
            align-items    : center;

            .container-license {
                display        : flex;
                justify-content: center;
                align-items    : center;

                .content-left-license {
                    font-size      : 12px !important;
                    justify-content: center;

                    a {
                        color: #7889c9 !important;
                    }

                }

                .content-right-license {
                    display: none;

                    .policy {}
                }
            }
        }
    }

    .container-circle-top {
        position: absolute;
        width   : 27% !important;
        top     : -34% !important;
        left    : -34px !important;
    }

    .container-circle-image-footer {
        top     : 7% !important;
        position: absolute;
        right   : 10%;

        .image-circle {
            width : 80px;
            height: 80px;
        }
    }

    .container-img-list-dot {
        display: flex;
        width  : 50px;
        height : 50px;
        bottom : 20% !important;
        left   : 9% !important;
    }

    .container-wave-img {
        display      : flex;
        justify-items: flex-end;
        height       : 30px;
    }
}

@media screen and (min-width:35.5em) and (max-width:47.9375em) {
    .body-footer {
        height   : 490px;
        clip-path: none;

        .content-footer-top {
            justify-content: space-between;
            padding        : 40px 50px 0 50px;

            .content-left {
                width: 50%;

                .image-contain {
                    width        : 30%;
                    height       : 61px;
                    margin-bottom: 0px;
                }

                .slogan {
                    display       : block;
                    width         : 100%;
                    padding-bottom: 7px;
                    font-size     : 16px !important;
                    border-bottom : 1px solid rgb(243, 162, 12);
                }

                .text {
                    font-size: 10px;
                }
            }

            .container-center {
                flex-wrap  : wrap;
                padding-top: 65px;
                width      : 45%;

                .slogan {
                    display       : block;
                    font-size     : 16px !important;
                    width         : 100%;
                    padding-bottom: 7px;
                    margin        : 2px 0;
                    border-bottom : 1px solid rgb(243, 162, 12);
                }

                .content-center {
                    padding-top: 0px;

                    .text {
                        &.about {
                            font-size    : 16px;
                            margin-bottom: 10px;
                        }

                    }
                }
            }


            .text {
                font-size: 10px;
            }

            .content-right {
                width: 50%;

                .text {
                    &.about {
                        font-size     : 15px;
                        width         : 100%;
                        padding-bottom: 7px;
                        margin-bottom : 15px;
                        border-bottom : 1px solid rgb(243, 162, 12);
                    }
                }
            }
        }

        .content-footer-bottom {
            .container-license {
                display        : flex;
                justify-content: center;

                .content-left-license {
                    display        : flex;
                    justify-content: center !important;

                    a {
                        font-size: 10px;
                    }
                }


            }
        }

    }

    .container-circle-top {
        position: absolute;
        width   : 27% !important;
        top     : -18% !important;
        right   : 0px !important;
        left    : auto !important;
    }

    .container-circle-image-footer {
        top     : 7% !important;
        position: absolute;
        right   : 10%;
        display : none;

        .image-circle {
            width : 80px;
            height: 80px;
        }
    }

    .container-wave-img {
        width : 150px;
        height: 45px;
    }

    .container-img-list-dot {
        display : none;
        position: absolute;
        bottom  : 16% !important;
        left    : 9% !important;
    }
}

@media screen and (max-width: 35.5em) {
    .body-footer {
        height   : 500px;
        clip-path: none;

        .content-footer-top {
            justify-content: space-between;
            padding        : 40px 20px 0 20px;

            height: 90%;

            .content-left {
                width: 100%;

                .image-contain {
                    width        : 20%;
                    margin-bottom: 0px;
                }

                .slogan {
                    display       : block;
                    width         : 100%;
                    padding-bottom: 7px;
                    font-size     : 16px !important;
                    border-bottom : 1px solid rgb(243, 162, 12);
                }

                .text {
                    font-size: 10px;
                }
            }

            .container-center {
                flex-wrap  : wrap;
                padding-top: 20px;

                .slogan {
                    display       : block;
                    font-size     : 16px !important;
                    width         : 100%;
                    padding-bottom: 7px;
                    border-bottom : 1px solid rgb(243, 162, 12);
                }

                width: 100%;

                .content-center {
                    padding-top: 0px;

                    .text {
                        &.about {
                            font-size    : 16px;
                            margin-bottom: 10px;
                        }

                    }
                }
            }


            .text {
                font-size: 12px;
            }

            .content-right {
                width          : 100%;
                flex-direction : row;
                flex-wrap      : wrap;
                justify-content: flex-start;

                a {
                    margin-right: 20px;
                }

                .text {
                    &.about {
                        font-size     : 15px;
                        width         : 100%;
                        padding-bottom: 7px;
                        margin-bottom : 15px;
                        border-bottom : 1px solid rgb(243, 162, 12);
                    }
                }
            }
        }

        .content-footer-bottom {
            height: 10%;

            .container-license {
                display        : flex;
                justify-content: center;

                .content-left-license {
                    display        : flex;
                    justify-content: center !important;

                    a {
                        font-size: 10px;
                    }
                }


            }
        }

    }

    .container-circle-top {
        position: absolute;
        width   : 27% !important;
        top     : -18% !important;
        right   : 0px !important;
        left    : auto !important;
    }

    .container-circle-image-footer {
        top     : 7% !important;
        position: absolute;
        right   : 10%;
        display : none;

        .image-circle {
            width : 80px;
            height: 80px;
        }
    }

    .container-wave-img {
        width : 150px;
        height: 45px;
    }

    .container-img-list-dot {
        display : none;
        position: absolute;
        bottom  : 16% !important;
        left    : 9% !important;
    }
}