.container {
    width           : 100vw;
    height          : 60vh;
    background-color: yellowgreen;
    display         : flex;
    flex-wrap       : wrap;

    .box-1 {
        flex-grow       : 1;
        background-color: pink;
        display         : flex;
        justify-content : center;
        align-items     : center;
        color           : white;
        font-size       : 20px;
        flex-shrink     : 0;
        width           : 400px;
    }

    .box-2 {
        flex-grow       : 1;
        background-color: rgb(97, 184, 111);
        display         : flex;
        justify-content : center;
        align-items     : center;
        color           : white;
        font-size       : 20px;

        width: 400px;
    }

    .box-3 {
        width           : 400px;
        background-color: rgb(168, 184, 97);
        display         : flex;
        justify-content : center;
        align-items     : center;
        font-size       : 20px;
        color           : white;

    }
}